# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\samy_\Documents\Winter_2021\SOEN363\PROJECT\SOEN363-PROJ-PHASE_1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
